---
import type { CollectionEntry } from "astro:content";
import { ArrowRightIcon, ExternalLinkIcon, GithubIcon } from "astro-feather";

const { project } = Astro.props;

interface Props {
  project: CollectionEntry<"project">;
}
---

<div
  class="lg:w-[360px] border dark:border-gray-100 rounded-lg shadow-lg h-full flex flex-col mx-auto w-full"
>
  <a href={"/projects/" + project.slug} class="h-[230px] flex">
    <img
      src={"/images/" + project.data.thumbnail.url}
      alt={project.data.thumbnail.alt}
      class="rounded-t-lg object-cover w-full h-full"
    />
  </a>

  <div class="p-5 flex flex-col flex-grow">
    <div class="flex-grow">
      <a href={"/projects/" + project.slug}>
        <h5 class="mb-2 text-2xl font-bold tracking-tight">
          {project.data.title}
        </h5>
      </a>
      <p class="mb-4 font-normal">
        {project.data.excerpt}
      </p>
    </div>
    <div class="flex mt-2">
      <a
        href={project.data.projectURL}
        title="Visit project website"
        class="button inline-flex mr-5"
      >
        <span class="mr-2">Visit</span>
        <ExternalLinkIcon size={16} />
      </a>
      <a
        href={`/projects/${project.slug}`}
        title="Go to project details page"
        class="button inline-flex"
      >
        <span class="mr-2">Read more</span>
        <ArrowRightIcon size={16} />
      </a>
    </div>
  </div>
</div>
