---
import type { CollectionEntry } from "astro:content";
import { ArrowRightIcon, ExternalLinkIcon, GithubIcon } from "astro-feather";

const { project } = Astro.props;

interface Props {
  project: CollectionEntry<"project">;
}
---

<div
  class="lg:w-[360px] bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <a href={"/projects/" + project.slug}>
    <img
      src={"/images/" + project.data.thumbnail.url}
      alt={project.data.thumbnail.alt}
      class="rounded-t-lg"
    />
  </a>

  <div class="p-5">
    <a href={"/projects/" + project.slug}>
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-foreground dark:text-foreground"
      >
        {project.data.title}
      </h5>
    </a>
    <p class="mb-4 font-normal text-foreground dark:text-foreground">
      {project.data.excerpt}
    </p>
    <a
      href={project.data.projectURL}
      title="Visit project website"
      class="button inline-flex mr-5"
    >
      <span class="mr-2">Visit</span>
      <ExternalLinkIcon size={16} />
    </a>
    <a
      href={`/projects/${project.slug}`}
      title="Go to project details page"
      class="button inline-flex"
    >
      <span class="mr-2">Read more</span>
      <ArrowRightIcon size={16} />
    </a>
  </div>
</div>
